<header>
  <div class="ul ul-header">
    <div class="logo">
      <div (click)="isClicked(this.taskUrl, 'start');"  class="logo__text up-f"><yellow>S</yellow>amsonov<yellow>T</yellow>our<yellow>L</yellow>ist</div>
      <a class="dashboard logo__text up-f" (click)="isClicked(this.taskUrl, 'dashboard', 'dashboard')" ><yellow>Dashboard</yellow></a>
    </div>
    <a class="li pointer up-f" href="http://samsonovtourlist.std-936.ist.mospolytech.ru/admin"><div>вход</div></a>
  </div>
</header>
<div class="main">
  <div *ngIf="this.isActive == 'start'" class="ul ul-start">
    <div class="ul ul-info">
      <div class="li">
      <span class="text animate__animated animate__slideInLeft">Мечтаешь о путешествиях?<br>
        Незнаешь куда поехать?<br>
        У нас есть выбор!</span>
      </div>
      <div class="li">
        <span class="random animate__animated animate__slideInRight">{{this.ranTitle}}</span>
      </div>
    </div>
    <div class="ul ul-button">
      <div (click)="isClicked(this.taskUrl, 'main', 'list');" class="li">
        <h4 class="animate__animated animate__zoomIn"><yellow>Посмотреть</yellow> все туры!</h4>
      </div>
    </div>
  </div>
  <div *ngIf="this.isActive == 'main'" class="ul ul-main">
    <div class="setting">
      <div class="block">
        <span>Фильтр: </span>
        <a (click)="mainChange()"><span>{{this.mainIsDisable[1]}}</span></a>
      </div>
      <input [formControl]="searchControl" placeholder="Поиск" />
    </div>
    <div class="li li--content">
      <div *ngFor="let check of this.request" class="li">
        <div *ngIf="(this.mainIsDisable[0] || check.Avilable_id == 'Да') && (check.title.toLowerCase().indexOf(this.search) != -1 || this.search == '')" class="folder animate__animated animate__faster animate__zoomIn">
          <a (click)="isClicked(this.taskUrl + '/' + check.id, 'detail', '/list/' + check.id.toString())"><h3>{{check.title}}</h3></a>
          <span>Тип поездки: {{check.ChillVariations_id}}</span>
          <span>Цена: {{check.Pricing_id}} руб.</span>
          <span>Сейчас активно: {{check.Avilable_id}}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="this.isActive == 'dashboard'" class="ul ul-dashboard">
    <h2>Dashboard</h2>
    <div class="ul ul--info">
      <div class="li">
        <span>Кол-во туров</span>
        <span><pink>{{this.request.length}}3</pink></span>
      </div>
      <div class="li">
        <span>Кол-во активнвых туров</span>
        <span>{{infoForDashboard(1)}}7</span>
      </div>
      <div class="li">
        <span>Кол-во гидов</span>
        <span><pink>{{this.guideRequest.length}}4</pink></span>
      </div>
      <div class="li">
        <span>Общая стоимость туров</span>
        <span><pink>{{infoForDashboard(3)}}.руб</pink></span>
      </div>
    </div>
    <div class="ul-graphics">
      <div class="li li--gist">
        <span>Количество заказов</span>
        <div class="gist--main">
          <div *ngFor="let bar of this.bars" class="bar--set">
            <div [style.height]="bar.size + 'px'" class="bar">
            </div>
            <span>{{bar.size}}</span>
          </div>
        </div>
        <span class="dist--info">Наименьшее количество заказов: <pink>{{infoForGist(1)}}</pink></span>
        <span class="dist--info">Наибольшее количество заказов: <pink>{{infoForGist(2)}}</pink></span>
        <span class="dist--info">Общее количество заказов: <pink>{{infoForGist(3)}}</pink></span>
      </div>
      <div class="li li--diag">
        <span>Количество туров у гида</span>
        <svg width="200px" height="200px" viewBox="0 0 40 40" class="donut">
          <circle class="donut-hole" cx="21" cy="21" r="12" fill="#fff"></circle>
          <circle class="donut-ring" cx="21" cy="21" r="10" fill="transparent" stroke="#d2d3d4" stroke-width="3"></circle>
          <circle class="donut-segment-1" cx="21" cy="21" r="10" fill="transparent" stroke="#ce4b99" stroke-width="3" stroke-dasharray="80 15" stroke-dashoffset="0"></circle>
          <circle class="donut-segment-2" cx="21" cy="21" r="10" fill="transparent" stroke="#ce4b99" stroke-width="3" stroke-dasharray="15 40" stroke-dashoffset="0"></circle>
          <circle class="donut-segment-3" cx="21" cy="21" r="10" fill="transparent" stroke="#ce4b99" stroke-width="3" stroke-dasharray="20 80" stroke-dashoffset="0"></circle>
        </svg>
        <div class="ul--diag--info">
          <div class="li">
            <div class="sq sq--yellow"></div>
            <span>SUGOMA (13)</span>
          </div>
          <div class="li">
            <div class="sq sq--black"></div>
            <span>AMOGUS (9)</span>
          </div>
          <div class="li">
            <div class="sq sq--pink"></div>
            <span>NOKK3R (4)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="this.isActive == 'detail'" class="ul ul-main animate__animated animate__zoomIn">
    <h3>Детальная информация</h3>
    <div class="li li--content">
      <div *ngFor="let check of this.request" class="li">
        <div class="folder">
          <h3>{{check.title}}</h3>
          <span>Тип поездки: {{this.request[0].id}}</span>
          <span>Приоритет: {{check.Priority_id}}</span>
          <span>Цена: {{check.Pricing_id}}</span>
          <span>Сейчас активно: {{check.Avilable_id}}</span>
          <span>Комментарий: {{check.descriptions}}</span>
        </div>
      </div>
    </div>
    <a (click)="isClicked(this.taskUrl, 'main', '/list')"><h3>Вернуться обратно</h3></a>
  </div>
</div>
