$color: #0669b2;
$black: #272822;
$yellow: #FFD866;
//$black: #;
//$black: #;

.ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .li{
    display: flex;
    flex-direction: column;
  }
}

header{
  padding: 25px;
  background: $black;
  color: white;
  width: 100%;
  justify-content: center;

  a{
    color: white;
  }

  .ul{
    width: 1200px;
    justify-content: space-between;

    letter-spacing: 0.5px;
    align-items: center;

    >*{
      transform: scale(0.8);
      transition: 0.2s;

      &:hover{
        transform: scale(1);
      }
    }

    .logo{
      align-items: center;
      cursor: pointer;

      &:hover{
        span{
          transform: scale(1);
        }
      }

      span{
        font-size: 18px;
        transform: scale(0);
        transition: 0.4s;
        margin-left: 15px;
        text-align: center;
      }

      .logo__text{
        flex-direction: row;
        font-weight: bold;
        font-size: 24px;
      }
    }
  }

  form{
    label{
      cursor: pointer;
    }
    span{
      margin-right: 10px;
    }

    input[type=text]{
      width: 200px;
    }
  }
}

h2, h3, h4{
  margin: 15px 0;
}

.main{
  min-width: 1200px;
  min-height: 100%;
  margin: 20px 50px 0 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.ul-start{
  margin-top: 50px;
  flex-direction: column;
  width: 100%;

  >.ul-info{
    align-items: center;
    justify-content: space-between;
  }

  >.ul-button{
    //flex-direction: column;
    justify-content: center;

    .li{
      transition: 0.3s;
      cursor: pointer;

      &::after{
        content: '';
        text-align: center;
        display: flex;
        width: 440px;
        height: 5px;
        background: $yellow;
        transition: 0.5s;
        transform: scale(0);
      }

      yellow{
        transition: 0.3s;
        color: black;
      }

      &:hover{
        transition: 0.3s;

        yellow{
          color: $yellow;
        }

        &::after{
          transform: scale(1);
        }
      }
    }

    h4{
      font-size: 42px;
      text-align: center;
      margin-top: 150px;
    }
  }

  .li{
    span{
      font-size: 30px;
      font-weight: normal;
    }

    .text{
      white-space: nowrap;
    }

    .random{
      margin-right: 35px;
      text-align: center;
    }
  }
}


.ul-main{
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  a{
    &:hover{
      color: $yellow;
    };
  }

  .setting{
    align-self: stretch;
    justify-content: space-around;
    margin-bottom: 50px;

    .block{
      a{
        margin-left: 10px;
      }
    }

    input{
      width: 100px;
      padding: 5px 10px;
      text-decoration: none;
      outline: none;
      transition: 0.25s;
      margin-right: 50px;
      border: 2px solid $black;
      border-radius: 7px;
      font-size: 18px;
      margin-bottom: 2px;

      &:focus{
        width: 250px;
        border: 2px solid $yellow;
      }
    }
  }

  >.li--content{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .folder{
    flex-direction: column;
    width: 350px;
    border-radius: 15px;
    background: #f8f9fa;
    padding: 10px;
    margin: 15px;
    border: 1px solid rgba(0,0,0,.125);
    align-items: stretch;

    span{
      text-align: left;
      background: white;
      border-radius: 5px;
      padding: 5px 15px;
      line-height: 1.5;
    }

    .green{
      color: #90be6d;
    }

    .red{
      color: #f94144;
    }
  }

  >.red{
    display: none;
    border-color: #f94144;

    >*{
      filter: opacity(0.6);
    }
  }

  >*{
    transition: 0.3s;
  }
}

.ul-con{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .li{
    margin: 15px;
  }
}

.desc{
  display: block;
}

.ul-det {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .ul{
    flex-direction: column;
  }

  .li {
    margin: 15px;
  }
}

.ul-more{
  margin-top: 250px;
}

.ul-desc{
  align-items: flex-start;

  >*{
    margin-top: 15px;
  }
}

@media (max-width: 1200px){
  header{
    >.ul{
      width: 100%;
    }
  }

  .main{
    min-width: 90%;
  }
}

@media (max-width: 640px){
  header{
    padding: 20px;

    .logo{
      .text{
        display: none;
      }
    }
  }

  .ul-start{
    .li{
      span{
        font-size: 22px;
      }
    }
  }

  .ul-start{
    margin-top: 0;
    .ul-info{
      flex-direction: column;

      >*{
        margin-bottom: 15px;
      }
    }
    .ul-button{
      h4{
        font-size: 28px;
      }

      .li{
        &:hover{
          &::after{
            width: 290px;
          }
        }
      }
    }
  }

  .ul-main{
    flex-direction: column;

    .setting{
      align-self: center;
      flex-direction: column;
      align-items: center;

      input{
        margin: 10px 0 0 0;
        width: 200px;

        &:hover{
          width: 200px;
        }
      }
    }

    .folder{
      width: 90%;
    }
  }
}
